PORT=3000
DB_HOST=localhost
DB_PORT=3306
DB_NAME=sistema_inventario
DB_USER=root
DB_PASSWORD=
DB_URL=jdbc:mysql://localhost:3306/sistema_inventario?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
